/* 公用 */
@charset "utf-8";
* {word-wrap: break-word;}
*, :before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{overflow-x: hidden; overflow-y: auto; background-color:#fff; }
html body{margin-top: 0; }
body{line-height:24px;font: 14px Helvetica Neue,Helvetica,PingFang SC,\5FAE\8F6F\96C5\9ED1,Tahoma,Arial,sans-serif;}
.main{width:1000px; min-height: 600px; margin: 0 auto 15px;}
/**.wrap{float:left; width: 100%; min-height:300px;}***/
html, body, div, p, ol, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, th, td {margin: 0;padding: 0;list-style-type: none;}
th, td {border: 1px solid #ddd;}
body {margin: 0;padding: 0;color: #666;}
i {padding-right: 3px;}
a {color: #333;text-decoration: none;cursor: pointer;}
a:hover {color: #00a4dc;text-decoration: none;}
a:visited {text-decoration: none;}
code {padding: 2px 4px;font-size: 90%;color: #c7254e;background-color: #f9f2f4;border-radius: 4px;}
.wrap {padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;float: none !important;}
.wrapper{margin-right: auto;margin-left: auto;}
.zwrap {padding-right: 0;padding-left: 0;}
.enheight {height: 300px!important;}
.paper {background-color: #fff;margin: 20px}
.page-header {height: 100px;overflow: hidden;}
.page-header h1 {line-height: 100px;float: left;}
.page-header h1 a {font-size: 40px;color: #377bee;}
.page-header span {font-size: 16px;float: left;margin-left: 20px;line-height: 60px;padding: 5px 0;margin-top: 25px;visibility: hidden;}
/**头部子导航**/
.top {padding: 0;background-color: #fff;}
.topmenu {height: 40px;background: #f5f5f5;}
.topmenu ul li {font-size: 16px;display: inline-block;position: relative;height:40px;line-height:40px;}
.topmenu ul li a {padding: 6px 12px;font-size: 14px;color: #6c6c6c;	height:40px;line-height:40px;}
.topmenu ul li:hover {color: #fff;background-color: rgba(0,0,0,0.1);}
.topmenu .common-topbar-user-info {
    display: none;
    float: right;
    position: relative;
    padding: 8px 24px 0 12px;
    height: 40px;
    box-sizing: border-box;
	cursor: pointer;
}
.topmenu .common-topbar-user-info:hover>.common-topbar-user-info-dropdown{
	display: block;
}
.topmenu .common-topbar-user-info .common-topbar-user-image-wrapper {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    overflow: hidden;
}
.topmenu .common-topbar-user-info .common-topbar-user-image-wrapper img {
    height: 100%;
}
.topmenu .common-topbar-user-info .common-topbar-user-message-count {
    position: absolute;
    font-size: 10px;
    background-color: #ff5029;
    color: #fff;
    border-radius: 13px;
    right: 12px;
    top: 6px;
    height: 12px;
    width: 12px;
    line-height: 12px;
    text-align: center;
}
.topmenu .common-topbar-user-info-dropdown {
    position: absolute;
    right: 0;
    top: 40px;
    width: 240px;
    background: #202529;
    color: #fff;
    display: none;
    z-index: 99999;
}
.topmenu .common-topbar-user-info-dropdown .top {
    background: #262c30;
    padding: 12px 16px;
}
.topmenu .common-topbar-user-info-dropdown .top .top-line, .common-topbar-user-info-dropdown .top .top-line a {
    height: 24px;
    line-height: 24px;
	padding:0;
}
.topmenu .common-topbar-user-info-dropdown .top .user-uid {
    display: inline-block;
    width: 160px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.topmenu .common-topbar-user-info-dropdown .big-customer-info img, .common-topbar-user-info-dropdown .info-prefix-icon {
    width: 16px;
    vertical-align: text-bottom;
    margin-right: 8px;
}

.topmenu .common-topbar-user-info-dropdown .top .user-grade {
    float: right;
    display: block;
    width: 40px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #373d41;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
    color: #00c1de;
    transition: all .3s ease-in-out;
}
.topmenu .common-topbar-user-info-dropdown .top .top-line.short {
    height: 18px;
    line-height: 18px;
    margin-top: 4px;
}
.topmenu .common-topbar-user-info-dropdown .top .certified {
    color: #35b34a;
}
.topmenu .common-topbar-user-info-dropdown .top .top-line.short {
    height: 18px;
    line-height: 18px;
    margin-top: 4px;
}
.topmenu .common-topbar-user-info-dropdown .top .not-certified {
    color: #00c1de;
}
.topmenu .common-topbar-user-info-dropdown .middle-line {
    height: 20px;
    line-height: 20px;
    margin: 12px 0;
    font-size: 12px;
    position: relative;
	padding:0 12px;
}
.topmenu .common-topbar-user-info-dropdown .middle-line a{
	height: 20px;
    line-height: 20px;
	padding:0;
}
.topmenu .common-topbar-user-info-dropdown a {
    display: block;
}
.topmenu .common-topbar-user-info-dropdown a, .common-topbar-user-info-dropdown a:link, .common-topbar-user-info-dropdown a:visited {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.topmenu .common-topbar-user-info-dropdown a:hover{
	color:#00c1de;
}
.topmenu .common-topbar-user-info-dropdown .big-customer-info img, .common-topbar-body .common-topbar-user-info-dropdown .info-prefix-icon {
    width: 16px;
    vertical-align: text-bottom;
    margin-right: 8px;
}
.topmenu .common-topbar-user-info-dropdown .middle-line .right-text {
    float: right;
    font-size: 10px;
    color: #fff;
}
.topmenu .common-topbar-user-info-dropdown .middle-line .charge-btn {
    display: inline-block;
    border: 1px solid #ffa133;
    width: 40px;
    height: 20px;
    line-height: 20px;
    color: #ffa133;
    text-align: center;
    position: absolute;
    top: -1px;
    left: 75px;
}
.topmenu .common-topbar-user-info-dropdown .break-line {
    height: 1px;
    margin: 0 16px;
    background: #373d41;
}
.topmenu .common-topbar-user-info-dropdown .middle-line .right-text.circular {
    background: #ff5029;
    border-radius: 10px;
    transform: scale(.8);
    padding: 0 6px;
    color: #fff;
}
.topmenu .common-topbar-user-info-dropdown .bottom-line {
    overflow: hidden;
    padding: 12px 16px 16px;
}
.topmenu .common-topbar-user-info-dropdown .bottom-line .logout-btn {
    width: 70px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    float: right;
    border: 1px solid #73777a;
}
.topmenu .common-topbar-user-info-dropdown .bottom-line .logout-btn:hover{
	color:#00c1de;
	border-color:#00c1de;
}
.topmenu .common-topbar-user-info-dropdown .bottom-line a, .common-topbar-user-info-dropdown .bottom-line a:link, .common-topbar-user-info-dropdown .bottom-line a:visited {
    color: #73777a;
}
.topmenu .common-topbar-user-info-dropdown .bottom-line .logout-btn a{
	padding:0;
	height: 28px;
	line-height: 28px;
}
.topmenu .common-topbar-user-info-dropdown .bottom-line .logout-btn a:hover{
	color:#00c1de;
}
.searchbox {float: right;z-index: 9;position: relative;	border: 1px solid #d4d4d4;border-right: 0;border-top-left-radius: 3px;border-bottom-left-radius: 3px;	background-color: #fff;width: 40%;margin-top: 25px;}
.navbar-collapse {background-color: #21c971;display: none;}
.toggle-search, .mainmenu, .navbar-toggle {	color: #fff;line-height: 24px;cursor: pointer;font-size: 16px;padding: 9px 20px;height: 45px;display: inline-block;}
.toggle-search:hover, .toggle-search.active, .navbar-toggle:hover, .navbar-toggle.active {background: rgba(0,0,0,0.15);color: #fff;}
.toggle-search i {float: right;}
.toggle-search img{width:25px;height:25px}
.search-expand {display: none;z-index: 2;}
.search-expand-inner {padding: 5px 5px 4px 5px;	background-color: rgba(0,0,0,0.15);}
.searchform {width: 100%;}
.searchform input {	line-height: 31px;border: 0;padding: 2px 2px 2px 10px;color: #999;}
.sinput input {width: 87%;height: 18px;	padding: 9px;border: 0;	font-size: 14px;line-height: 18px;color: #333;background-color: transparent;}
.sbut {	z-index: 10;position: absolute;	top: 0;	right: 0;cursor: pointer;}
.sbut input {width: 45px;height: 36px;background-color: #377bee;border: 0;border-top-right-radius: 3px;	border-bottom-right-radius: 3px;}
/** 导航 start**/
.nav {height: auto;	background-color: #21c971;}
.nav ul li {font-size: 16px;}
.nav ul li a {display: block;font-size: 16px;line-height: 45px;padding: 0 25px 0 23px;color: #fff;transition: all .1s ease-in;}
.nav ul li ul {	background-color: #21c971;	filter: alpha(opacity=90);opacity: .9;-moz-opacity: .9;	z-index: 99;display: none;line-height: 45px;padding-left: 30px;}
.nav ul li ul li a {float: none;color: #fff;display: block;line-height: 45px;text-shadow: 0 1px 0 rgba(0,0,0,0.3);}
.nav ul li ul li.current-menu-item, .nav ul li ul li a:hover {background-color: rgba(0,0,0,0.1);}
.nav ul li.current-menu-item, .nav ul li a:hover {color: #fff;background-color: rgba(0,0,0,0.1);margin-bottom: 0;}
.current_page_item a {background-color: rgba(0,0,0,0.1);}
.notic {background-color: #fff;	height: auto;border: 1px solid #ececec;	margin-bottom: 20px;padding: 5px;}
.subnotic {line-height: 2em;color: #999;font-size: .9em;}
.row {margin-right: -15px;margin-left: -15px;}
.content{margin-right:357px;}
.edge{position: relative; float:left; top:0; width:336px; margin-left:-336px;}
.edge-fixed{position:fixed; right:24px; top:15px;}

#blog .main{width: 100%;}
@media(min-width:768px) {
.wrap {width: 750px;}
.wrapper{width: 750px;}
.main_visual{width: 750px}
.main {width: 100%}
#blog .main {float: left;	width: 66.66666667%;}
.sider {float: left;width: 33.33333333%;display: block;}
.right {padding-left: 20px;}
.menu-item {position: relative!important;display: inline-block;}
.mainmenu {	display: none;}
.navbar-toggle {display: none!important;float: right;}
.navbar-header, .navbar-collapse {display: block!important;}
.nav ul {font-size: 0;}
.nav ul li ul {position: absolute;}
.viewimg {display: block!important;}
.page-header span {visibility: visible!important;}
.group {display: block;}
.contact {margin-top: 35px;	display: inline-block!important;}
.nav ul li ul li a {width: 148px;}
.nav ul li ul {	padding-left: 0;}
.main_register .register_success p span{width: calc(30%) !important;}
}
@media(min-width:992px) {
.wrap {	width: 970px;}
.wrapper{width: 970px;}
.main_visual{width: 970px}
.main {width: 100%}
#blog .main {	float: left;width: 66.66666667%;}
.sider {float: left;width: 33.33333333%;}
.right {padding-left: 20px;}
.menu-item {position: relative!important;display: inline-block;}
.mainmenu {	display: block;}
.main_register .register_success p span{width: calc(20%) !important;}
}
@media(min-width:1200px) {
.wrap {	width: 1030px;}
.wrapper{width: 1030px;}
.main_visual{width: 1030px}
.main {width: 100%}
#blog .main { float: left;width: 66.66666667%;}
.sider {width: 33.33333333%;}
.right {padding-left: 20px;}
.menu-item {position: relative!important;display: inline-block;}
.mainmenu {display: none;}
.main_register .register_success p span{width: calc(20%) !important;}
}

@media(max-width:768px) {
	#page-header{display:none}
	.notic{display:none;}
	.main {
		float: none;
		width: 100%;
	}
	.main_login .left-box{display:None !important;}
	.main_login .right-box{width: 100% !important;}
	.main_register .register_main{width: 90% !important;}
	.main_visual{
		width: 100%;
		height: auto !important;
	}
	.main_visual .main_slide{
		width: 100% !important;
		height: auto !important;
	}
	.main_visual .main_slide .main_slide_pic{
		width: 100% !important;
		overflow: hidden;
	}
	.main_visual .main_slide .main_slide_pic li{
		width: 100% !important;
		height: auto !important;
	}
	.main_visual .main_slide .main_slide_pic li img{
		width: 100% !important;
		height: auto !important;
	}
	.main_register .register_success p span{width: calc(40%) !important;}
}
/** 导航 end**/

body input, body textarea{box-shadow:none;}
body .layui-layer-prompt textarea.layui-layer-input{resize: both;}
body .layui-main{width:1000px;}
body .layui-layer{box-shadow:none;}
body .layui-breadcrumb{margin-bottom:10px;}

body .qn-layer{border-radius:15px !important; border:1px solid #fff;}
body .qn-layer .layui-layer-title{border-radius:10px 10px 0 0 !important; border:1px solid #fff}
body .qn-layer .layui-layer-content{}
body .qn-layer .layui-layer-content iframe{border-radius:15px !important; border:1px solid #fff;}

body .iconfont{-webkit-text-stroke-width: 0;}

.pull-right{float:right;}
.pull-left{float:left;}

em, cite, i {font-style: normal;}

.clearfix{clear:both;overflow:hidden;}
.clearfix:after{
}
.mb10{margin-bottom:10px;position:relative;}
.mb20{margin-bottom:10px;position:relative;}
.ofh{overflow:hidden;}
.pipe {
    margin: 0 5px 0 0;
}
.pipe {
    margin: 0 5px;
    color: #CCC;
}
/** layui **/
.layui-tab-title .layui-this{
	background: #fff;
    height: 41px;
}
.layui-form-switch{
	width:52px;
	height:24px;
	line-height:24px;
}
/** logo 特效 **/
.transition{transition:all 0.3s ease;}
.web .icon{ background-image: url({$logo}); background-size:300px auto; background-repeat: no-repeat; display:inline-block;}

.web .logo,.web .logo .icon,.web .menu,.web .menu li,.contact li,.web .header .contact{ float: left;}

.web .logo .font{ width:30px; height: 30px; background-size: 150px auto; margin-top: 15px;}
.web .logo .iwb{ background-position: 0px -30px; width:60px;}
.web .logo .hu{ background-position: -58px -30px;}
.web .logo .dong{ background-position: -89px -30px;}
.web .logo .wang{ background-position: -120px -30px; height: 40px; margin-top:15px;}
.web .font{ -webkit-animation: logoFonts 4s ease infinite;animation: logoFonts 4s ease infinite;}
@-webkit-keyframes logoFonts{
	0%,56%{ -webkit-transform: scale(1);}
	62%{ -webkit-transform: scale(1.2);}
	68%{ -webkit-transform: scale(0.9);}
	74%{ -webkit-transform: scale(1.05);}
	80%,100%{ -webkit-transform: scale(1);}
}
@keyframes logoFonts{
	0%,56%{ transform: scale(1);}
	62%{ transform: scale(1.2);}
	68%{ transform: scale(0.9);}
	74%{ transform: scale(1.05);}
	80%,100%{ transform: scale(1);}
}
.web .icon {
	background-image: url(../images/icon.png);
	background-size: 300px auto;
	background-repeat: no-repeat;
	display: inline-block;
}
/* 201705默认头部
.header{position:relative;min-height: 70px;}
.header h2 {
    padding: 0 20px 8px 0;
    float: left;
	height: 70px;
}

.header .thisLoginon {
    padding-top: 10px;
    padding-right: 60px;
    _padding-right: 54px;
    line-height: 2.3;
    zoom: 1;
}
.header .thisLoginon select{
	border-color:#ddd;
	font-size: 12px;
    border-radius: 3px;
}
.header .thisLoginon .avt {
    display: inline;
    margin-right: -60px;
}
.header .thisLoginon .avt img {
    padding: 2px;
    width: 54px;
    height: 54px;
    background: #FFF;
    border: 1px solid;
    border-color: #F2F2F2 #eee #eee #F2F2F2;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.header .thisLoginon p {
    text-align: right;
	line-height:25px;
	height:25px;
}
.header .thisLoginon p a{
	display:inline-block;
	line-height:20px;
	height:20px;
	font-size:12px;
}
.header .avatar_nickname{
	font-weight:bold;
	background-color: #ededeb;
    padding: 0 7px;
    border-radius: 3px;
    cursor: default;
    color: #666;
}
.header .thisLoginon p .role_class{
	border:none;
}

.header .thisLogin {
    padding-top: 10px;
    line-height: 2.3;
    zoom: 1;
}
.header .thisLogin .avt {
    display: inline;
    margin-right: -60px;
}
.header .thisLogin p {
    text-align: right;
}

.nav_main {
    overflow: hidden;
    height: 45px;
    background: #333;
}
.nav_main .layui-nav .layui-nav-item{
	line-height:45px !important;
}
***/
/* 底部 */
.footer {
  margin: 40px 0 0;
  padding: 40px 0;
  line-height: 30px;
  text-align: center;
  color: #99a2aa;
  background-color: #f6f9fa;
}
.footer p{margin:0; padding:0; font-size:14px;}
.footer a{padding:0 6px; font-weight: 300; color: #333;}
.footer a:hover{color: #777;}

/** 登录页面 **/
.main_login .page-title {
    position: relative;
    font-size: 14px;
    margin: 20px 0 30px;
    padding: 10px 15px;
    line-height: 30px;
    border-bottom: 1px solid #DFDFDF;
}
.main_login .fly-form-app .icon-qq {
    color: #7CA9C9;
}
.main_login .fly-form-app .iconfont {
    font-size: 26px;
    padding: 0 5px;
}
.main_login .left-box {
    border-right: 1px dashed #e8e8e8;
    position: relative;
    padding-right: 20px;
	float:left;
	width:60%
}
.main_login .right-box {
    position: relative;
	float:left;
	width:40%;
	padding: 0 20px;
}
.main_login .cut-off {
    width: 100%;
    border-top: 1px solid #c2c2c2;
    position: relative;
    margin: 40px 0;
}
.main_login .cut-off .chose-other {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #999;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -83px;
}
.main_login .layui-form-div{
	padding:20px;
}
.main_login .layui-form-switch{
	margin-top:0;
}
.main_login .layui-input-inline{
	width:50%;
	margin:0;
}
.main_login .layui-form-extend-box{
	padding:20px;
}
/** 注册页面 **/
.main_register{
	padding:20px;
}
.main_register .page-title {
    position: relative;
    font-size: 14px;
    margin: 20px 0 30px;
    padding: 10px 15px;
    line-height: 30px;
    border-bottom: 1px solid #DFDFDF;
}
.main_register .register_main{width: 514px;margin:0 auto;}
.main_register .fly-form-app .icon-qq {
    color: #7CA9C9;
}
.main_register .fly-form-app .iconfont {
    font-size: 26px;
    padding: 0 5px;
}
.main_register .dl-span{
	margin-left:10px;
}
.main_register .cut-off {
    width: 100%;
    border-top: 1px solid #c2c2c2;
    position: relative;
    margin: 30px 0 10px;
}
.main_register .cut-off .chose-other {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #999;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -83px;
}
.main_register .register_success{text-align:center;font-size: 18px;padding: 11px 13px;color: #707070;border-radius: 5px;background-color: #f5faff;border: 1px dashed #62b3ff;width: calc(100%);height: 70%;}
.main_register .register_success h4{color: #62b3ff;position: relative;line-height: 20px;margin-bottom: 120px;text-align: left;}
.main_register .register_success p{line-height:33px;margin-bottom:20px;height:33px;margin-left:auto;margin-right:auto;}
.main_register .register_success p span{background-color:#fff1d3;border:1px solid #f8dfaa;color:#707070;padding:5px 20px;width: calc(30%);display: inline-block;font-size:16px;height: 33px;line-height: 22px;}
.main_register .register_success p span:last-child{margin-left:-1px}

.alert-success{background-color:#fff1d3;border:1px solid #f8dfaa;color:#e78b1f;padding:10px 30px 10px 40px;line-height:20px;font-size:14px;border-radius:4px;position:relative}
.alert-warning{background-color:#fff1d3;border:1px solid #f8dfaa;color:#e78b1f;padding:10px 30px 10px 40px;line-height:20px;font-size:14px;border-radius:4px;position:relative}
/* 简易编辑器 */
.fly-edit{position:relative; display: block; top: 1px; left:0; padding:0 10px; border: 1px solid #e6e6e6; border-radius: 2px 2px 0 0; background-color: #FBFBFB;}
.fly-edit span{cursor:pointer; padding:0 10px; line-height: 38px; color:#009E94;}
.fly-edit span i{padding-right:6px; font-size: 18px;}
.fly-edit span:hover{color:#5DB276;}

body .layui-edit-face{ border:none; background:none;}
body .layui-edit-face  .layui-layer-content{padding:0; background-color:#fff; color:#666; box-shadow:none}
.layui-edit-face .layui-layer-TipsG{display:none;}
.layui-edit-face ul{position:relative; width:372px; padding:10px; border:1px solid #D9D9D9; background-color:#fff; box-shadow: 0 0 20px rgba(0,0,0,.2);}
.layui-edit-face ul li{cursor: pointer; float: left; border: 1px solid #e8e8e8; height: 30px; width: 26px; overflow: hidden; margin: -1px 0 0 -1px; padding: 4px 2px; text-align: center;}
.layui-edit-face ul li:hover{position: relative; z-index: 2; border: 1px solid #eb7350; background: #fff9ec;}

/* 图标 */
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1482156509982'); /* IE9*/
  src: url('iconfont.eot?t=1482156509982#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1482156509982') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1482156509982') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1482156509982#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daxiao:before { content: "\e600"; }

.icon-kejian:before { content: "\e601"; }

.icon-shezhi:before { content: "\e602"; }

.icon-wenbenshuru:before { content: "\e603"; }

.icon-xinlangweibo:before { content: "\e604"; }

.icon-tengxunweibo:before { content: "\e605"; }

.icon-suoxiao:before { content: "\e606"; }

.icon-fangda:before { content: "\e607"; }

.icon-quanping:before { content: "\e608"; }

.icon-suoxiao1:before { content: "\e609"; }

.icon-fangda1:before { content: "\e60a"; }

.icon-qq:before { content: "\e60b"; }

.icon-douban:before { content: "\e60c"; }

.icon-github:before { content: "\e60d"; }

.icon-evaluate:before { content: "\e673"; }

.icon-bianji:before { content: "\e60e"; }

.icon-xiazai:before { content: "\e60f"; }

.icon-markfill:before { content: "\e730"; }

.icon-mark:before { content: "\e731"; }

.icon-link:before { content: "\e656"; }

.icon-camerafill:before { content: "\e657"; }

.icon-camera:before { content: "\e658"; }

.icon-cartfill:before { content: "\e659"; }

.icon-cart:before { content: "\e65a"; }

.icon-clock:before { content: "\e65b"; }

.icon-remindfill:before { content: "\e65e"; }

.icon-remind:before { content: "\e65f"; }

.icon-selectfill:before { content: "\e660"; }

.icon-select:before { content: "\e661"; }

.icon-back:before { content: "\e662"; }

.icon-lbsfill:before { content: "\e668"; }

.icon-lbs:before { content: "\e669"; }

.icon-refresh:before { content: "\e66a"; }

.icon-tag:before { content: "\e66c"; }

.icon-smile:before { content: "\e670"; }

.icon-gird:before { content: "\e672"; }

.icon-dark:before { content: "\e676"; }

.icon-light:before { content: "\e677"; }

.icon-crop:before { content: "\e679"; }

.icon-temperature:before { content: "\e67a"; }

.icon-brightness:before { content: "\e67b"; }

.icon-adjust:before { content: "\e67c"; }

.icon-rotating:before { content: "\e67d"; }

.icon-delete:before { content: "\e67e"; }

.icon-diamond:before { content: "\e67f"; }

.icon-gift:before { content: "\e681"; }

.icon-edit:before { content: "\e682"; }

.icon-favfill:before { content: "\e685"; }

.icon-fav:before { content: "\e686"; }

.icon-write:before { content: "\e687"; }

.icon-level:before { content: "\e688"; }

.icon-comments:before { content: "\e689"; }

.icon-feedback:before { content: "\e68a"; }

.icon-share:before { content: "\e68b"; }

.icon-service:before { content: "\e68c"; }

.icon-crown:before { content: "\e68d"; }

.icon-user:before { content: "\e68e"; }

.icon-myfill:before { content: "\e68f"; }

.icon-my:before { content: "\e690"; }

.icon-socialfill:before { content: "\e691"; }

.icon-social:before { content: "\e692"; }

.icon-fanlifill:before { content: "\e693"; }

.icon-fanli:before { content: "\e694"; }

.icon-message:before { content: "\e698"; }

.icon-search:before { content: "\e699"; }

.icon-scan:before { content: "\e69a"; }

.icon-check:before { content: "\e69b"; }

.icon-like:before { content: "\e69c"; }

.icon-likefill:before { content: "\e69d"; }

.icon-lock:before { content: "\e69e"; }

.icon-tuichubianji:before { content: "\e610"; }

.icon-mobile:before { content: "\e6a0"; }

.icon-qr2:before { content: "\e6a5"; }

.icon-closefill:before { content: "\e6a6"; }

.icon-close:before { content: "\e6a7"; }

.icon-attachment:before { content: "\e6a9"; }

.icon-pic:before { content: "\e6aa"; }

.icon-more:before { content: "\e6ad"; }

.icon-rmb:before { content: "\e6b0"; }

.icon-plane:before { content: "\e6b1"; }

.icon-planefill:before { content: "\e6b2"; }

.icon-computer:before { content: "\e6b3"; }

.icon-ascend:before { content: "\e6b4"; }

.icon-defaultsort:before { content: "\e6b5"; }

.icon-falling:before { content: "\e6b6"; }

.icon-filter:before { content: "\e6b9"; }

.icon-filter2:before { content: "\e6ba"; }

.icon-99:before { content: "\e6bf"; }

.icon-chaogaofan2:before { content: "\e6c4"; }

.icon-backtop:before { content: "\e6c6"; }

.icon-jinbi:before { content: "\e6c8"; }

.icon-zoomcard:before { content: "\e6c9"; }

.icon-cloudfill:before { content: "\e6cc"; }

.icon-cloud:before { content: "\e6cd"; }

.icon-downloadfill:before { content: "\e6ce"; }

.icon-download:before { content: "\e6cf"; }

.icon-jiangli1:before { content: "\e6d0"; }

.icon-jiangli2:before { content: "\e6d1"; }

.icon-applewatch:before { content: "\e6d2"; }

.icon-tongbushoucang2:before { content: "\e6d3"; }

.icon-tongbushoucang:before { content: "\e6d4"; }

.icon-wenhaofill:before { content: "\e72c"; }

.icon-wenhao:before { content: "\e72d"; }

.icon-dingdan:before { content: "\e737"; }

.icon-fankui:before { content: "\e738"; }

.icon-liuyanfill:before { content: "\e743"; }

.icon-liuyan:before { content: "\e744"; }

.icon-qingchu:before { content: "\e747"; }

.icon-quan:before { content: "\e748"; }

.icon-shaixuan:before { content: "\e74a"; }

.icon-shanchu:before { content: "\e74b"; }

.icon-sousuoleimu:before { content: "\e754"; }

.icon-xihuanfill:before { content: "\e760"; }

.icon-xihuan:before { content: "\e761"; }

.icon-youhuiquan:before { content: "\e764"; }

.icon-zuji:before { content: "\e767"; }

.icon-xiangji1fill:before { content: "\e77e"; }

.icon-xiangji1:before { content: "\e77f"; }

.icon-xiangji2:before { content: "\e780"; }

.icon-shuaxin:before { content: "\e782"; }

.icon-hongbao:before { content: "\e6da"; }

.icon-wodejifenbao:before { content: "\e6db"; }

.icon-close2:before { content: "\e6dd"; }

.icon-yuyin:before { content: "\e6e1"; }

.icon-danlieliebiao:before { content: "\e6e4"; }

.icon-shuanglieliebiao:before { content: "\e6e5"; }

/**page分页**/
.pagination {
	position:relative;
	overflow:hidden;
	margin:10px 0;
}
.pagination li{
	padding: 0 8px;
    background-color: #fff;
    margin-right: 3px;
    float: left;
    height: 23px;
    line-height: 23px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
	border: 1px solid #ddd;
    border-top-color: #bbb;
}
.pagination li:hover{
	padding:0 8px;
	border:1px solid #eee;
	background-color:#eee;
	color:#666;
	text-decoration:none
}
.pagination li.active{
    padding: 0 8px;
    border: 1px solid #488fcd;
    background-color: #488fcd;
    color: #fff;
    margin-right: 3px;
    float: left;
    height: 23px;
    line-height: 23px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.pagination li.active a{
	color: #fff;
}

/**button disabled**/
button[disabled],a[disabled],.btn.disabled,.btn[disabled],fieldset[disabled] .btn{background-color:#bdc3c7;color:rgba(255,255,255,.75);opacity:.7;filter:alpha(opacity=70);cursor:not-allowed}