<extend name="base/common"/>

<block name="style">
    <link href="__CSS__/index.css" rel="stylesheet" type="text/css"/>
    <style>
#processor {padding:15px 10px;position:relative}
.processorBox{display: -webkit-flex;display:flex;flex-direction: row;justify-content:space-around}
.processorBox li {flex:1;}
.step_inner {color:#fff;text-align:center;width:100px;margin:0 auto}
.step_line {width:100%;background-color:#e8e8e8;height:6px;position:absolute;top:50%;left:0;margin:-15px auto auto auto;z-index:1}
.processorBox li .icon_step {width:36px;height:36px;line-height:36px;display:inline-block;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;color:#fff;font-size:18px;text-align:center;background-color:#e8e8e8;position:relative;z-index:2}
.processorBox li.current .icon_step {background-color:#64bd2e}
.processorBox h4 {color:#bbb;margin-top:5px}
.processorBox li.current h4 {color:#64bd2e}
.oh {
    overflow: hidden;
}
  </style>
</block>

<block name="body">
<div class="wrap">
  <div class="processor" id="processor">
    <ol class="processorBox oh">
      <li class="current">
        <div class="step_inner fl">
        <span class="icon_step"></span>
        <h4>完善个人资料</h4>
        </div>
      </li>
      <eq name="cash_sms_on" value="1">
      <li class="current">
        <div class="step_inner">
        <span class="icon_step">2</span>
        <h4>绑定手机号</h4>
        </div>
      </li>
      </eq>
      <eq name="cash_email_on" value="1">
      <li class="current">
        <div class="step_inner">
        <span class="icon_step"></span>
        <h4>绑定邮箱</h4>
        </div>
      </li>
      </eq>
      <li class="current">
        <div class="step_inner">
        <span class="icon_step"></span>
        <h4>设置交易密码</h4>
        </div>
      </li>
      <li>
        <div class="step_inner fr">
        <span class="icon_step"></span>
        <h4>绑定支付方式</h4>
        </div>
      </li>
    </ol>
    <div class="step_line"></div>
  </div>
  <div class="">
  <div id="step1" class="">
    <ul class="prompt">
        <li>设置交易密码后，您就能顺利使用以下网站功能：<i class="red">兑换奖品</i>、<i class="red">申请提现</i>等功能。 </li>
        <li>为了保证您的账号安全及顺畅体验，请尽快完成<i class="red">交易密码设置</i>。</li>
    </ul>
    <form action="__SELF__" method="post" id="step1_frm" class="layui-form">
      <input type="hidden" name="step" id="step" value="4" >
      <input type="hidden" name="uid" value="{:is_login()}">
      <div class="layui-form-item">
        <label class="layui-form-label">交易密码</label>
        <div class="layui-input-inline">
          <input type="password" name="jy_pwd" <notempty name="self['safecode']">value="{$self.safecode}" disabled="disabled"</notempty> class="layui-input">
          <notempty name="self['safecode']"><input type="hidden" name="jy_pwd" value="{$self.safecode}" /></notempty>
        </div>
        <div class="layui-form-mid layui-word-aux">请输入6—16位英文加数字密码</div>
      </div>
      <div class="layui-form-item">
        <div class="layui-input-block">
          <if condition="$self['safecode'] neq '' and $self['safecode'] neq null">
            <a class="layui-btn layui-btn-sm layui-btn-primary" href="{:U('five')}" style="width:220px">已设置，继续下一步</a>
            <else/>
            <button class="layui-btn layui-btn-sm" lay-submit lay-filter="*">确认，继续下一步</button>
          </if>
        </div>
      </div>
    </form>
    </div>
  </div>
</div>
</block>

<block name="script">
</block>