<extend name="public/base"/>

<block name="body">
<div class="layui-card qn-header">
	<div class="layui-breadcrumb">
		<a href="">首页</a>
		<a href=""><cite>{:isset($info['id'])?'编辑':'新增'}前台权限节点</cite></a>
	</div>
</div>
<div class="layui-fluid">
	<div class="layui-card">
		<div class="layui-card-body">
		<form action="__SELF__" id="form" class="layui-form" method="post">
		<div class="form-body">
			<div class="layui-form-item">
				<label class="layui-form-label">标题</label>
				<div class="layui-input-inline">
					<input class="layui-input" placeholder="" type="text"  name="title" value="{$info.title|default=''}">
				</div>
				<div class="layui-form-mid layui-word-aux">用于后台显示的配置标题</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">节点标识</label>
				<div class="layui-input-inline">
					<input class="layui-input" placeholder="" type="text"  name="name" value="{$info.name|default=''}">
				</div>
				<div class="layui-form-mid layui-word-aux">用于在代码中区分权限节点，唯一标识符</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">所属模块<span class="check-tips">权限节点所属的模块</span></label>
				<div class="layui-input-inline">
					<select class="form-control" name="module">
						<volist name="Modules" id="module">
							<neq name="module.is_setup" value="0">
								<option value="{$module.name}" <eq name="module.name" value="$info['module']">selected</eq>>{$module.alias}</option>
							</neq>
						</volist>
					</select>
				</div>
				<div class="layui-form-mid layui-word-aux"></div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label"></label>
				<div class="layui-input-inline">
					<input type="hidden" name="id" value="{$info.id|default=''}">
					<button class="submit-btn ajax-post layui-btn layui-btn-sm" id="submit" type="submit" target-form="layui-form">确 定</button>
					<button class="layui-btn layui-btn-sm layui-btn-primary" onclick="javascript:history.back(-1);return false;">返 回</button>
				</div>
				<div class="layui-form-mid layui-word-aux"></div>
			</div>
		</div>
		</form>
    </div>
</div>
</div>
</block>