<extend name="public/base" />

<block name="body">
<div class="layui-card qn-header">
	<div class="layui-breadcrumb">
		<a href="">首页</a>
		<a href="{:U('index')}">后台导航管理</a>
		<a href=""><cite>批量导入 [{$data.title|default='顶级菜单'}]</cite></a>
	</div>
</div>
<div class="layui-fluid">
	<div class="layui-card">
		<div class="layui-card-body">
		
			<form action="{:U('import')}" id="form" class="layui-form" method="post">
			<div class="form-body">
				<div class="layui-form-item">
					<label class="layui-form-label">导入的内容<span class="check-tips">（请按照导入格式输入）</span></label>
					<div class="layui-input-inline">
						<textarea class="layui-textarea" rows="3" name="tree"></textarea>
					</div>
					<div class="layui-form-mid layui-word-aux">导入格式：标题|url(回车键换行)&nbsp;&nbsp;&nbsp;&nbsp;标题|url</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label"></label>
					<div class="layui-input-inline">
					<div class="layui-footer">
						<button class="submit-btn ajax-post layui-btn layui-btn-sm" id="submit" type="submit" target-form="form-horizontal">确 定</button>
						<a class="layui-btn layui-btn-sm layui-btn-primary" href="{:U('index?pid='.$pid)}">返 回</a>
						<input type="hidden" name="pid" value="{$pid}"/>
						<input type="hidden" name="cate_id" value="{$cate_id|default=0}">
					</div>
					</div>
					<div class="layui-form-mid layui-word-aux"></div>
				</div>
			</div>
			</form>
		</div>
	</div>
</div>
</block>