<extend name="public/base" />
<block name="style">
<style>
.upload-img-box .upload-pre-items img {
    width: 100px;
}
.upload-img-box .upload-pre-items .opacity {
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    background: #000;
    opacity: 0.5;
}
.upload-img-box .upload-pre-items .each{
	width:100px;
	height:100px;
    border:1px solid #f1f1f1;
	margin-right:10px;
	margin-bottom:10px;
	display:inline-block;
	position:relative;
	float:left;
}
.upload-img-box .upload-pre-items .del_btn {
    width: 90px;
    position: absolute;
	bottom:0px;
    color: #fff;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
	padding-left:10px;
}
.uploadify {position:relative;}
</style>
</block>
<block name="body">
<div class="layui-card qn-header">
	<div class="layui-breadcrumb">
		<a href="">首页</a>
		<a href=""><cite>{$title}</cite></a>
	</div>
</div>
<div class="layui-fluid">
	<div class="layui-card">
		<div class="layui-card-body">
		<php>use admin\model\AuthGroupModel;</php>
		<notempty name="suggest">
		<div class="explanation" id="explanation">
			<div class="ex_tit"><i class="sc_icon"></i><h4>操作提示</h4><span id="explanationZoom" title="收起提示"></span></div>
			<p>{$suggest}</p>
		</div>
		</notempty>
		<form action="{$savePostUrl}" id="form" class="layui-form" method="post">
		<div class="layui-tab">
		  <ul class="layui-tab-title">
			<volist name="group" id="vGroup">
				<li id="tab_1_{$i}" class="<if condition="$i eq 1">layui-this</if>">{$key}</li>
			</volist>
		  </ul>
		  <div class="layui-tab-content">
				<php>
				if($group){
				$p = 0;
				</php>
				<volist name="group" id="vGroup">
				<php>$p = $p+1;</php>
					<div class="layui-tab-item <if condition="$p eq 1">layui-show</if>" id="tab_1_{$p}">
						<volist name="keyList" id="field">
							<php>if(in_array($field['name'],$vGroup)){</php>
							<include file="builder/admin_key"/>
							<php>}</php>
						</volist>
					</div>
				</volist>
				<php>}else{</php>
				<div class="layui-tab-item layui-show">
				<volist name="keyList" id="field">
					<include file="builder/admin_key"/>
				</volist>
				</div>
				<php>}</php>
		  </div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"></label>
			<div class="layui-input-inline">
			<volist name="buttonList" id="button">
				<button {$button.attr}>{$button.title}</button>
			</volist>
			</div>
		</div>
		</form>
	</div>
</div>
</div>
</block>

<block name="jquery_script">
Think.setValue("type", {$info.type|default=0});
Think.setValue("group", {$info.group|default=0});
</block>
<block name="script">
</block>