<extend name="public/base"/>
<block name="style">
</block>
<block name="body">
<div class="layui-card qn-header">
	<div class="layui-breadcrumb">
		<a href="">首页</a>
		<a href=""><cite>数据还原</cite></a>
	</div>
</div>
<div class="layui-fluid">
	<div class="layui-card">
	<div class="layui-card-body">
		<div class="table-scrollable">
		<table class="layui-table" lay-even lay-skin="line">
			<thead>
			<tr>
			<th width="200">备份名称</th>
            <th width="80">卷数</th>
            <th width="80">压缩</th>
            <th width="80">数据大小</th>
            <th width="200">备份时间</th>
            <th>状态</th>
            <th width="120">操作</th>
			</tr>
			</thead>
			<tbody>
				<volist name="list" id="data">
                    <tr>
                        <td>{$data.time|date='Ymd-His',###}</td>
                        <td>{$data.part}</td>
                        <td>{$data.compress}</td>
                        <td>{$data.size|format_bytes}</td>
                        <td>{$key}</td>
                        <td>-</td>
                        <td class="action">
                            <a class="db-import layui-btn layui-btn-xs hbutton btn_see" href="{:U('import?time='.$data['time'])}">还原</a>&nbsp;
                            <a class="ajax-get confirm layui-btn layui-btn-xs hbutton btn_trash" href="{:U('del?time='.$data['time'])}">删除</a>
                        </td>
                    </tr>
                	</volist>
			</tbody>
			</table>
		</div>
		<div class="layui-table-page">
		{$_page}
		</div>
	</div>
</div></div>
</block>

<block name="script">
<script>
$(".db-import").click(function(){
	var self = this, status = ".";
	$.get(self.href, success, "json");
	window.onbeforeunload = function(){ return "正在还原数据库，请不要关闭！" }
	return false;

	function success(data){
		if(data.status){
			if(data.gz){
				data.info += status;
				if(status.length === 5){
					status = ".";
				} else {
					status += ".";
				}
			}
			$(self).parent().prev().text(data.info);
			if(data.part){
				$.get(self.href, 
					{"part" : data.part, "start" : data.start}, 
					success, 
					"json"
				);
			}  else {
				window.onbeforeunload = function(){ return null; }
			}
		} else {
			layer.msg(data.info, {icon: 2, fixed: true, offset: '80%', time:1000});
		}
	}
});
</script>
</block>
<block name="jquery_script">
</block>