<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="已导入的规则 1">
                    <match url="(.*)/?View/(.*)?.html$" ignoreCase="false" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="首页1" stopProcessing="true">
                    <match url="^home_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=/home/index/index/{R:1}" />
                </rule>
                <rule name="首页2" stopProcessing="true">
                    <match url="^home(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=/home/index/index" />
                </rule>

                <rule name="活码伪静态规则" stopProcessing="true">
                    <match url="^news-(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=/qrcode/index/query/id/{R:1}" />
                </rule>

                <rule name="已导入的规则 64" stopProcessing="true">
                    <match url="^ucenter/([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/index/uid/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 65" stopProcessing="true">
                    <match url="^ucenter_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/index/{R:1}" />
                </rule>
                <rule name="已导入的规则 66" stopProcessing="true">
                    <match url="^ucenter$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/index" />
                </rule>
                <rule name="已导入的规则 67" stopProcessing="true">
                    <match url="^ucenter/following_([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/following/uid/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 68" stopProcessing="true">
                    <match url="^ucenter/following_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/following/{R:1}" />
                </rule>
                <rule name="已导入的规则 69" stopProcessing="true">
                    <match url="^ucenter/following$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/following" />
                </rule>
                <rule name="已导入的规则 70" stopProcessing="true">
                    <match url="^ucenter/applist_([A-Za-z]+)/([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/applist/type/{R:1}/uid/{R:2}{R:3}" />
                </rule>
                <rule name="已导入的规则 71" stopProcessing="true">
                    <match url="^ucenter/applist_([A-Za-z]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/applist/type/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 72" stopProcessing="true">
                    <match url="^ucenter/applist_([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/applist/uid/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 73" stopProcessing="true">
                    <match url="^ucenter/applist_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/applist/{R:1}" />
                </rule>
                <rule name="已导入的规则 74" stopProcessing="true">
                    <match url="^ucenter/applist$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/applist" />
                </rule>
                <rule name="已导入的规则 75" stopProcessing="true">
                    <match url="^ucenter/information_([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/information/uid/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 76" stopProcessing="true">
                    <match url="^ucenter/information_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/information/{R:1}" />
                </rule>
                <rule name="已导入的规则 77" stopProcessing="true">
                    <match url="^ucenter/information$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/information" />
                </rule>
                <rule name="已导入的规则 78" stopProcessing="true">
                    <match url="^ucenter/fans_([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/fans/uid/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 79" stopProcessing="true">
                    <match url="^ucenter/fans_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/fans/{R:1}" />
                </rule>
                <rule name="已导入的规则 80" stopProcessing="true">
                    <match url="^ucenter/fans$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/fans" />
                </rule>
                <rule name="已导入的规则 81" stopProcessing="true">
                    <match url="^ucenter/rank_([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/rank/uid/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 82" stopProcessing="true">
                    <match url="^ucenter/rank_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/rank/{R:1}" />
                </rule>
                <rule name="已导入的规则 83" stopProcessing="true">
                    <match url="^ucenter/rank$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/rank" />
                </rule>
                <rule name="已导入的规则 84" stopProcessing="true">
                    <match url="^ucenter/rankwait_([0_9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/rankverifywait/uid/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 85" stopProcessing="true">
                    <match url="^ucenter/rankwait_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/rankverifywait/{R:1}" />
                </rule>
                <rule name="已导入的规则 86" stopProcessing="true">
                    <match url="^ucenter/rankwait$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/rankverifywait" />
                </rule>
                <rule name="已导入的规则 87" stopProcessing="true">
                    <match url="^ucenter/rankfailure_([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/rankverifyfailure/uid/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 88" stopProcessing="true">
                    <match url="^ucenter/rankfailure_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/rankverifyfailure/{R:1}" />
                </rule>
                <rule name="已导入的规则 89" stopProcessing="true">
                    <match url="^ucenter/rankfailure$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/rankverifyfailure" />
                </rule>
                <rule name="已导入的规则 90" stopProcessing="true">
                    <match url="^ucenter/rankverify_([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/rankverify/uid/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 91" stopProcessing="true">
                    <match url="^ucenter/rankverify_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/rankverify/{R:1}" />
                </rule>
                <rule name="已导入的规则 92" stopProcessing="true">
                    <match url="^ucenter/rankverify$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/rankverify" />
                </rule>
                <rule name="已导入的规则 93" stopProcessing="true">
                    <match url="^ucenter/conf_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/config/index/{R:1}" />
                </rule>
                <rule name="已导入的规则 94" stopProcessing="true">
                    <match url="^ucenter/conf$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/config/index" />
                </rule>
                <rule name="已导入的规则 95" stopProcessing="true">
                    <match url="^ucenter/session_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/message/session/{R:1}" />
                </rule>
                <rule name="已导入的规则 96" stopProcessing="true">
                    <match url="^ucenter/session$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/message/session" />
                </rule>
                <rule name="已导入的规则 97" stopProcessing="true">
                    <match url="^ucenter/msg_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/message/message/{R:1}" />
                </rule>
                <rule name="已导入的规则 98" stopProcessing="true">
                    <match url="^ucenter/msg$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/message/message" />
                </rule>
                <rule name="已导入的规则 99" stopProcessing="true">
                    <match url="^ucenter/email_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/config/email/{R:1}" />
                </rule>
                <rule name="已导入的规则 100" stopProcessing="true">
                    <match url="^ucenter/email$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/config/email" />
                </rule>
                <rule name="已导入的规则 200" stopProcessing="true">
                    <match url="^ucenter/mobile_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/config/mobile/{R:1}" />
                </rule>
                <rule name="已导入的规则 201" stopProcessing="true">
                    <match url="^ucenter/mobile$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/config/mobile" />
                </rule>
                <rule name="已导入的规则 202" stopProcessing="true">
                    <match url="^ucenter/safepass_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/config/safepass/{R:1}" />
                </rule>
                <rule name="已导入的规则 203" stopProcessing="true">
                    <match url="^ucenter/safepass$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/config/safepass" />
                </rule>
                <rule name="已导入的规则 204" stopProcessing="true">
                    <match url="^ucenter/score_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/config/score/{R:1}" />
                </rule>
                <rule name="已导入的规则 205" stopProcessing="true">
                    <match url="^ucenter/score$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/config/score" />
                </rule>

                <rule name="已导入的规则 206" stopProcessing="true">
                    <match url="^ucenter/role_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/config/role/{R:1}" />
                </rule>
                <rule name="已导入的规则 207" stopProcessing="true">
                    <match url="^ucenter/role$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/config/role" />
                </rule>
                <rule name="已导入的规则 208" stopProcessing="true">
                    <match url="^ucenter/avatar_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/config/avatar/{R:1}" />
                </rule>
                <rule name="已导入的规则 209" stopProcessing="true">
                    <match url="^ucenter/avatar$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/config/avatar" />
                </rule>
                <rule name="已导入的规则 210" stopProcessing="true">
                    <match url="^ucenter/password_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/config/password/{R:1}" />
                </rule>
                <rule name="已导入的规则 211" stopProcessing="true">
                    <match url="^ucenter/password$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/config/password" />
                </rule>

                <rule name="已导入的规则 105" stopProcessing="true">
                    <match url="^register_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/home/member/register/{R:1}" />
                </rule>
                <rule name="已导入的规则 106" stopProcessing="true">
                    <match url="^register$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/home/member/register" />
                </rule>
                <rule name="已导入的规则 107" stopProcessing="true">
                    <match url="^register/step2_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/home/member/step2/{R:1}" />
                </rule>
                <rule name="已导入的规则 108" stopProcessing="true">
                    <match url="^register/step2$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/home/member/step2" />
                </rule>
                <rule name="已导入的规则 109" stopProcessing="true">
                    <match url="^register/step3_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/home/member/step3/{R:1}" />
                </rule>
                <rule name="已导入的规则 110" stopProcessing="true">
                    <match url="^register/step3$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/home/member/step3" />
                </rule>
                <rule name="已导入的规则 111" stopProcessing="true">
                    <match url="^login_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/home/member/login/{R:1}" />
                </rule>
                <rule name="已导入的规则 112" stopProcessing="true">
                    <match url="^login$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/home/member/login" />
                </rule>
                <rule name="已导入的规则 115" stopProcessing="true">
                    <match url="^logout_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/home/member/logout/{R:1}" />
                </rule>
                <rule name="已导入的规则 114" stopProcessing="true">
                    <match url="^logout$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/home/member/logout" />
                </rule>
                <rule name="已导入的规则 113" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FiLENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
