blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,'Hiragino Sans GB',"Microsoft Yahei",\5b8b\4f53,sans-serif}
h1,h2,h3,h4,h5,h6{font-size:100%}
address,cite,dfn,em,var{font-style:normal}
code,kbd,pre,samp{font-family:courier new,courier,monospace}
small{font-size:12px}
ol,ul{list-style:none}
a{text-decoration:none}
a:hover{text-decoration:underline}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
legend{color:#000}
fieldset,img{border:0}
button,input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
article,aside,audio,details,figcaption,figure,footer,header,mark,menu,nav,section,summary,time,video{display:block;margin:0;padding:0}
mark{background:#ff0}
#content,#footer,#header,#page{margin-left:auto;margin-right:auto}
.w950{width:950px}
.col-main{float:left;width:100%;min-height:1px}
.col-extra,.col-sub{float:left}
.col-extra:after,.col-sub:after,.layout:after,.main-wrap:after{content:'\20';display:block;height:0;clear:both}
.col-extra,.col-sub,.layout,.main-wrap{*zoom:1}

.clearfix:after{content:'\0020';display:block;height:0;clear:both}
.clearfix{*zoom:1}
#page{width:1190px!important;margin:0 auto}
#page .layout{width:990px; margin:0 auto;}
#page .col-main{float:left;width:100%;min-height:1px}
#page .col-main .main-wrap{margin-left:198px}
#page .col-sub{float:left;min-height:200px;width:188px;border:1px solid #E0E0E0;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;margin-left:-100%;background-color:#fff}
#page .layout{overflow:hidden}

@keyframes spring{
	0%{right:15px}
	30%{right:10px}
	45%{right:15px}
	75%{right:10px}
	100%{right:15px}
}

.col-sub{-webkit-box-shadow:0 1px 4px 0 #d7d7d7;-moz-box-shadow:0 1px 4px 0 #d7d7d7;box-shadow:0 1px 4px 0 #d7d7d7}
#sidebar{font:12px/1.5 tahoma,arial,'Hiragino Sans GB',"Microsoft Yahei",\5b8b\4f53,sans-serif;position:relative}
#sidebar .app-ordered,#sidebar .app-quick-entry{height:42px;line-height:42px;width:186px;border-bottom:1px solid #e0e0e0;background:#F5F5F5}
#sidebar .app-ordered .entry-wrap,#sidebar .app-quick-entry .entry-wrap{position:relative;display:block;width:173px;height:42px;line-height:42px;padding-left:15px;text-decoration:none}
#sidebar .app-ordered .entry-wrap .title,#sidebar .app-quick-entry .entry-wrap .title{font-size:14px;color:#333}
#sidebar .app-ordered .entry-wrap .tip,#sidebar .app-quick-entry .entry-wrap .tip{color:#0085D7;font-size:12px;margin-left:5px}
#sidebar .app-ordered .entry-wrap .tip:hover,#sidebar .app-quick-entry .entry-wrap .tip:hover{text-decoration:underline}
#sidebar .app-ordered .icon,#sidebar .app-quick-entry .icon{position:absolute;right:15px;font-size:12px;color:#0085D7;-webkit-transition:all 1s;-moz-transition:all 1s;-ms-transition:all 1s;-o-transition:all 1s;transition:all 1s}
#sidebar .app-ordered:hover .icon{-webkit-animation:spring .8s;-o-animation:spring .8s;animation:spring .8s}
#sidebar .app-quick-entry .icon{width:16px;height:16px;line-height:16px;overflow:hidden;text-align:center;vertical-align:middle;right:15px;top:14px;font-size:14px}
#sidebar .app-quick-entry:hover .icon{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);-webkit-transform-origin:48% 48%;-moz-transform-origin:48% 48%;-ms-transform-origin:48% 48%;-o-transform-origin:48% 48%;transform-origin:48% 48%}
#sidebar .app-list{min-height:200px;background:#fff}
#sidebar .app-list.loading{}
#sidebar .app-list .catrgory-load-error{height:200px;width:100%}
#sidebar .app-list .catrgory-load-error p{height:200px;line-height:200px;text-align:center;color:#666}
#sidebar .app-list .catrgory-load-error p a{color:#0085D7}
#sidebar .app-list .category{background:#fff;width:158px;margin:0 10px 0 15px;padding:13px 0;border-bottom:1px solid #e1e1e1}
#sidebar .app-list .category li{margin-top:5px}
#sidebar .app-list .category .normal-app{display:none}
#sidebar .app-list .category b.close{display:inline}
#sidebar .app-list .category b.open{display:none}
#sidebar .app-list .category.show-more .normal-app{display:inline}
#sidebar .app-list .category.show-more b.close{display:none}
#sidebar .app-list .category.show-more b.open{display:inline}
#sidebar .app-list .category.last-category{border-bottom:none}
#sidebar .app-list .category:hover .custom-entry{color:#0085D7}
#sidebar .app-list .category-name{width:160px;height:20px;line-height:20px;position:relative;font-size:14px;font-weight:600;-webkit-font-smoothing:antialiased;padding-bottom:3px}
#sidebar .app-list .category-name .category-icon{font-size:18px;color:#0085D7; display:inline-block;font-weight:100}
#sidebar .app-list .category-name .custom-entry{font-weight:100;margin-left:10px;font-size:12px;color:#fff;-webkit-transition:color .5s;-moz-transition:color .5s;-ms-transition:color .5s;-o-transition:color .5s;transition:color .5s}
#sidebar .app-list .category-name .icon{font-weight:100;font-size:14px;position:relative;color:#0085D7;cursor:pointer;-webkit-user-select:none; width:20px;}
#sidebar .app-list .category-app{width:170px}
#sidebar .app-list .category-app li{margin-top:3px;width:85px;height:20px;line-height:20px;float:left;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
#sidebar .app-list .category-app li a{color:#666}

.seller-info{width:100%;height:128px}
.seller-info .shop-avatar{float:left;width:128px;height:128px;overflow:hidden;position:relative}
.seller-info .shop-avatar .avatar-box{height:128px;width:128px;text-align:center;font-size:0;white-space:nowrap}
.seller-info .shop-avatar .avatar-box .vl{display:inline-block;height:100%;vertical-align:middle}
.seller-info .shop-avatar .avatar-box img{max-width:96px;max-height:96px;vertical-align:middle}
.seller-info .shop-avatar .avatar-operation{display:none;position:absolute;bottom:0;left:0;width:128px;height:36px}
.seller-info .shop-avatar .avatar-operation s{width:128px;height:36px;display:block;background:#000;opacity:.4;-ms-filter:alpha(opacity=40)}
.seller-info .shop-avatar .avatar-operation a{display:block;width:128px;height:36px;line-height:36px;color:#fff;position:absolute;top:0;left:0;text-align:center;z-index:1;text-decoration:none}
.seller-info .shop-avatar:hover .avatar-operation{display:block}
.seller-info .shop-information{float:left;width:300px;padding:0 0 0 15px;height:128px;border-right:1px solid #f0f0f0; overflow:hidden}
.seller-info .shop-information .hd{background:#fff;height:40px;line-height:40px !important;border-bottom:0}
.seller-info .shop-information .hd h1{float:left;margin:0;font-size:18px}
.seller-info .shop-information .hd .icons{margin-left:5px;float:left;height:40px;overflow:hidden}
.seller-info .shop-information .hd .icons li{float:left}
.seller-info .shop-information .hd .icons .rank-words{padding-right:10px}
.seller-info .shop-information .hd .icons .rank-words a{color:#0085D7}
.seller-info .shop-information .hd .icons .rank-icon{margin-right:5px;float:left;margin-top:12px}
.seller-info .shop-information .hd .icons .rank-icon i{float:left;margin-right:2px;width:16px;height:16px}
.seller-info .shop-information .hd .icons .tb-rank-blue i{background-repeat:no-repeat;background-position:0 0}
.seller-info .shop-information .hd .icons .tb-rank-cap i{background-repeat:no-repeat;background-position:0 0}
.seller-info .shop-information .hd .icons .tb-rank-crown i{background-repeat:no-repeat;background-position:0 0}
.seller-info .shop-information .hd .icons .qualification-icon{display:inline-block;width:16px;height:16px;margin-top:12px;margin-right:3px;}
.seller-info .shop-information .hd .icons .qualification-icon.v-personal-qualification{background-position:0 0}
.seller-info .shop-information .hd .icons .qualification-icon.v-enterprise-qualification{background-position:-24px 0}
.seller-info .shop-information .hd .icons .qualification-icon.v-xiaobao-qualification{background-position:-49px 0}
.seller-info .shop-information .hd .icons .qualification-icon.v-jinpai-qualification{background-position:-73px 0}
.seller-info .shop-information .hd .icons .qualification-icon.v-qiye-qualification{background-position:-98px 0}
.seller-info .shop-information .bd{min-height:0}
.seller-info .shop-information .bd .basic-info{position:relative;height:30px;line-height:30px}
.seller-info .shop-information .bd .basic-info b{padding-left:5px;color:#0085D7;font-size:14px;}
.seller-info .shop-information .bd .basic-info s{height:20px;margin-left:5px;border-left:1px solid #E1E1E1;padding-left:5px}
.seller-info .shop-information .bd .basic-info .shop-setup{position:absolute;z-index:1;top:1px;left:0;float:left;text-decoration:none;color:#6c6c6c}
.seller-info .shop-information .bd .basic-info .main-category{position:absolute;z-index:1;top:0;left:165px;float:left;text-decoration:none;color:#6c6c6c}
.seller-info .shop-information .bd .basic-info .view-shop{position:absolute;z-index:1;top:0;left:60px;padding:0 5px;float:left;border:1px solid #fff}
.seller-info .shop-information .bd .basic-info .view-shop.no-offcial-shop,.seller-info .shop-information .bd .basic-info .view-shop.no-offcial-shop:hover{border:1px solid #fff;background:#fff}
.seller-info .shop-information .bd .basic-info .view-shop .more{display:none}
.seller-info .shop-information .bd .basic-info .view-shop:hover{background:#f5f5f5;border:1px solid #E0E0E0}
.seller-info .shop-information .bd .basic-info .view-shop:hover .more{display:block}
.seller-info .shop-information .bd .basic-info .view-shop.no-shop-setup{padding:0;border:none;left:0}
.seller-info .shop-information .bd .basic-info .view-shop.no-shop-setup:hover{border:none}
.seller-info .shop-information .bd .basic-info .view-shop a{text-decoration:none;color:#6c6c6c}
.seller-info .shop-information .bd .basic-info .view-shop a:hover{color:#333}
.seller-info .shop-information .bd .payment{height:26px;line-height:26px;color:#6c6c6c}
.seller-info .shop-information .bd .payment a{color:#0085D7}
.seller-info .shop-information .bd .warranty{height:26px;line-height:26px;color:#6c6c6c}
.seller-info .shop-information .bd .warranty .count{color:#0085D7}
.seller-info .shop-information .bd .warranty a{color:#0085D7}
.seller-info .shop-information .bd .warranty s{height:20px;margin-left:0;border-left:1px solid #E1E1E1;padding-left:5px}
.seller-info .shop-information .bd .warranty .help-icon{position:relative;color:#BB65E3;text-decoration:none;font-size:16px;}
.seller-info .shop-information .bd .warranty .help-icon .help-tip{display:none;position:absolute;top:13px;left:13px;color:#333;background:#F5F5F5;border:1px solid #E0E0E0;font-size:12px;line-height:20px;vertical-align:middle}
.seller-info .shop-information .bd .warranty .help-icon:hover .help-tip{width:255px;padding:5px;display:block}
.seller-info .shop-ratings{width:360px;height:128px;float:left}
.seller-info .shop-ratings .shop-ratings-slide{padding:20px 20px 15px 20px}
.seller-info .shop-ratings h2{font-size:14px}
.seller-info .shop-ratings .dynamic-ratings{margin-top:5px}
.seller-info .shop-ratings .dynamic-ratings li{width:78px;margin-right:2px;float:left}
.seller-info .shop-ratings .dynamic-ratings li .title{height:24px;line-height:24px;color:#666}
.seller-info .shop-ratings .dynamic-ratings li .value{height:24px;line-height:24px;font-size:14px;color:#333}
.seller-info .shop-ratings .dynamic-ratings li .value a{color:#333}
.seller-info .shop-ratings .dynamic-ratings li.last{margin-right:0}
.seller-info .shop-ratings .dynamic-ratings li.empty .value{font-size:12px}
.seller-info .shop-ratings .dynamic-ratings li .compare{height:26px;line-height:26px}
.seller-info .shop-ratings .dynamic-ratings li .compare i{display:inline-block;height:14px;width:9px;background-repeat:no-repeat;margin-left:1px;*vertical-align:top}
.seller-info .shop-ratings .dynamic-ratings li.lower .compare{color:#00C49A}
.seller-info .shop-ratings .dynamic-ratings li.lower .compare i{background-position:-25px -3px}
.seller-info .shop-ratings .dynamic-ratings li.higher .compare{color:#F40}
.seller-info .shop-ratings .dynamic-ratings li.higher .compare i{background-position:-6px -3px}
.seller-info .shop-ratings .dynamic-ratings li.equal .compare{color:#F40}
.seller-info .shop-ratings .dynamic-ratings li.equal .compare i{background-position:-6px -19px}
.seller-info .shop-ratings .dynamic-ratings li.empty .compare{color:#F40}
.seller-info .shop-ratings .dynamic-ratings li.empty .compare i{background-position:-25px -19px}
.seller-module-hd{clear:both;position:relative;height:40px;line-height:40px;margin-bottom:15px}
.seller-module-hd h2{font-size:24px;font-weight:300}
.seller-module-hd .operation{position:absolute;right:0;top:0;height:40px;line-height:40px}
.seller-module-hd .operation .reset-to-default{float:left;display:block;font-size:12px;color:#999}
.seller-module-hd .operation .add-new-module{float:left;display:block;font-family:"Microsoft Yahei";background:#0085D7;color:#fff;font-size:14px;padding:0 10px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;text-decoration:none;margin-left:15px}
.seller-module-hd .operation .add-new-module.disabled{background:#EBEBEB;color:#B2B2B2}

.grid-l0m10r0 .seller-module-layout{margin-bottom:0}
.grid-l0m10r0 .seller-module-box{width:100%}
.grid-l5m0r5 .seller-module-layout{margin-bottom:15px}
.grid-l5m0r5 .seller-module-box{width:386px;overflow:hidden}
.seller-module-layout{width:100%;float:left}
.seller-module-layout .no-seller-modules{position:relative;height:86px;border:1px dashed #e0e0e0;color:#999;margin-bottom:15px;line-height:86px;text-align:center;font-size:14px}
.seller-module-layout .no-seller-modules i{width:228px;height:61px;position:absolute;z-index:1;top:-15px;left:650px}
.seller-module-layout .left-panel,.seller-module-layout .right-panel{float:left;width:389px}
.seller-module-layout .left-panel{margin-right:14px}
.seller-module-layout .seller-module-box{position:relative;border:1px solid #E0E0E0;margin-bottom:15px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-box-shadow:0 1px 4px 0 #d7d7d7;-moz-box-shadow:0 1px 4px 0 #d7d7d7;box-shadow:0 1px 4px 0 #d7d7d7}
.seller-module-layout .seller-module-empty-box{position:relative;width:486px;border:1px dashed #E0E0E0;height:70px;background:#fff;margin-bottom:15px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;overflow:hidden;text-align:center}
.seller-module-layout .seller-module-empty-box p{height:68px;line-height:68px;font-size:14px;color:#999}
.seller-module-layout .hd{width:100%;height:42px;line-height:42px;background:#ecedef;border-bottom:1px solid #E0E0E0;position:relative}
.seller-module-layout .hd.movable{cursor:move}
.seller-module-layout .hd h1{font-size:14px;font-family:"Microsoft Yahei";color:#333;margin-left:15px}
.seller-module-layout .hd .hd-acts{position:absolute;right:15px;top:0;height:42px;line-height:42px}
.seller-module-layout .hd .hd-acts .close-btn,.seller-module-layout .hd .hd-acts .drag-btn{visibility:hidden;padding:0 2px;text-decoration:none;color:#F5F5F5;font-size:18px;-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s;transition:all .5s}
.seller-module-layout .hd .hd-acts .close-btn .tip,.seller-module-layout .hd .hd-acts .drag-btn .tip{vertical-align:top;margin-right:5px;visibility:hidden;color:#F5F5F5;font-size:12px;-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s;transition:all .5s}
.seller-module-layout .hd .hd-acts .drag-btn{cursor:move}
.seller-module-layout .hd .hd-acts .drag-btn:hover .tip{visibility:visible;color:#9C9C9C}
.seller-module-layout .seller-module-box:hover{border:1px solid #7FC2ED}
.seller-module-layout .seller-module-box:hover .hd-acts .close-btn,.seller-module-layout .seller-module-box:hover .hd-acts .drag-btn{visibility:visible;color:#0085D7}
.seller-module-layout .bd{min-height:100px;background-color:#fff}
.seller-module-layout .bd.loading{min-height:130px;background-repeat:no-repeat;background-position:center center}
.seller-module-layout .bd iframe{vertical-align:top}
.seller-module-layout .ft .module-source{height:26px;line-height:26px;width:471px;background:#F5F5F5;text-align:right;color:#9c9c9c;padding-right:15px}
.seller-module-layout .ad-box{border:1px solid #E0E0E0;width:486px;max-height:100px;overflow:hidden}
.seller-module-layout .ad-box a{display:block;width:486px}
.seller-module-layout .ad-box img{float:left;width:100%}

.seller_news{height:230px}
.seller_news .seller_news_hd{position:relative;height:40px;width:450px;margin:0 auto}
.seller_news .seller_news_hd .more{position:absolute;bottom:5px;right:0;color:#0085D7}
.seller_news .seller_news_tabs{height:38px;width:450px;margin:10px auto 0;border-bottom:3px solid #E0E0E0}
.seller_news .seller_news_tabs li{height:38px;padding:0 5px;line-height:38px;float:left;margin-right:10px;color:#999;position:relative;cursor:pointer;font-size:14px;text-align:center}
.seller_news .seller_news_tabs li s{padding:0 1px;display:none}
.seller_news .seller_news_tabs li.tab-selected,.seller_news .seller_news_tabs li:hover{color:#0085D7}
.seller_news .seller_news_tabs li.tab-selected s,.seller_news .seller_news_tabs li:hover s{width:96%;padding:0 2%;left:0;position:absolute;bottom:-3px;display:block;height:3px;background:#0085D7}
.seller_news .seller_news_content .content{display:none}
.seller_news .seller_news_content .content .feeder .msg-mid-list{height:157px;padding-top:3px;overflow:hidden}
.seller_news .seller_news_content .content .feeder .feeder-item{position:relative;height:26px;line-height:26px}
.seller_news .seller_news_content .content .feeder .feeder-data{position:absolute;top:0;right:0;color:#999}
.seller_news .seller_news_content .content .feeder a{color:#333}
.seller_news .seller_news_content .content .feeder .feeder-options{text-align:right}
.seller_news .seller_news_content .content .feeder .without{width:100%;color:#999;text-align:center;height:160px;line-height:160px}
.seller_news .seller_news_content .content .feeder .without a{color:#0085D7}
.seller_news .seller_news_content .content.selected{display:block}
.seller_news .seller_news_content .content .bd{margin-top:1px}
.seller_news .seller_news_content li{position:relative;width:450px;margin:0 auto}
.seller_news .seller_news_content li h2{height:20px;font-weight:100;font-size:12px;margin:10px 0 5px;cursor:pointer}
.seller_news .seller_news_content li h2 a{color:#333;text-decoration:none}
.seller_news .seller_news_content li h2 .hot{color:#f40;font-size:12px;font-style:normal;vertical-align:top;padding-left:5px;font-weight:100}
.seller_news .seller_news_content li .desc{height:52px;color:#999;display:none}
.seller_news .seller_news_content li .desc a{color:#0085D7}
.seller_news .seller_news_content li .date{height:20px;line-height:20px;position:absolute;top:0;right:0;color:#999}
.seller_news .seller_news_content li.show_detail h2{font-weight:600;font-size:14px}
.seller_news .seller_news_content li.show_detail h2 a{font-weight:600}
.seller_news .seller_news_content li.show_detail .desc{display:block}
.seller_news .seller_news_content a{color:#0085D7}

.wrap{padding: 0 16px 16px 0; color: #666; font-size: 12px; overflow: hidden;}
.wrap li{ float: left; width: 168px; height: 80px; padding: 8px 12px; margin: 16px 0 0 16px; background:#f5f5f5;}
.wrap h5{ font-size: 14px;}
.wrap p{ padding-bottom: 2px; white-space: nowrap;}
.wrap .focus{ color: #0085d7; font-size: 20px; padding-bottom: 15px; font-weight: bold;}
.wrap .more{ text-align: center; line-height: 112px;}
.wrap .more a { color: #0085d7; font-size: 12px; text-decoration: none;}
.wrap .more a:hover{text-decoration: underline;}