<extend name="public/base"/>

<block name="header">
    <li class="success"><a href="javascript:;">安装协议<img src="__IMG__/bullet_green.png" /></a></li>
    <li class="success"><a href="javascript:;">环境检测<img src="__IMG__/bullet_green.png" /></a></li>
    <li class="success"><a href="javascript:;">创建数据库<img src="__IMG__/bullet_green.png" /></a></li>
    <li class="success"><a href="javascript:;">安装<img src="__IMG__/bullet_green.png" /></a></li>
    <li class="active"><a href="javascript:;">完成</a></li>
</block>

<block name="body">
<div class="container" id="step4">
	<div class="logo"  style="">
         <h3>完成</h3>
        <p style="text-align:center;margin-bottom:30px;">已经安装完成，感谢您的使用，请选择访问首页或者登陆后台！</p>
        <present name="info">
        {$info}
        </present>
        <div class="footer">
            <a class="layui-btn layui-btn-radius layui-btn-normal" target="_blank" href="index.php?s=/manage">登录后台</a>
            <a class="layui-btn layui-btn-radius layui-btn-primary" target="_blank" href="index.php">访问首页</a>
        </div>
    </div>
</div>
</block>

<block name="footer">
    
</block>